# Untracked directories
/Results
=9.0.1
/ISBI Paper All
/Autism_IMPAC_Git_Restored
/Parallelization/TrainedModels/
/Parallelization/*.png
*.png
/Parallelization/*.p
*.p
*.pkl
lsGC/
/lsGC/
MSDLFileList.csv
# Files over 4mb
/Parallelization/Logs/
/Parallelization/TrainedModels/
/Results/
TrainTestData2Atlas.p
TrainTestData.p
.idea/
.ipynb_checkpoints/
*.xlsx
*.pdf
__pycache__/
/__pycache__/
/Parallelization/Locks/
/Parallelization/__init__.py
/Parallelization/__pycache__/
/Parallelization/caffe-master/
/Parallelization/proto/
/Parallelization/protobuf-2.6.1/
/Parallelization/snapshot/
/Parallelization/venv/
/Parallelization/IniFiles/Temp/
/TrainTestDataPy2.pkl
/3_fold_cv_3_random_hyperparameter_initializations_random_search1120/
/Parallelization/CutStacked.png
/Parallelization/CutStackedBrief.png
/Parallelization/ECExamplePt.p
/AlternateMetrics/
/AlternateMetrics/*
/Parallelization/IMPAC_DCM_TapasToolbox.mlx
/Parallelization/ROITimeseries.p
/Parallelization/ROITimeseriesTest.p
/Parallelization/TimeseriesFilenames/
/TrainTestDataWithConfounds.p
/model.png
/Parallelization/ABIDETest/
/Parallelization/ABIDETest_v2/
/Parallelization/ABIDE_Atlases/
/Parallelization/DataAugmentation/
/Parallelization/PostErrorAnalysisIniFiles/
/Parallelization/TBI_test/
/Parallelization/IMPAC_Challenge_fMRI_Pipeline/
/JournalPaperData/AtlasResolutionComparison8Permutations/
/JournalPaperData/RetestData/
.vscode/
JournalPaperData/AtlasResolutionComparison64Permutations/
JournalPaperData/BrodmannAreas/
JournalPaperData/FeatureImportancesRevamped.pptx
JournalPaperData/~$FeatureImportancesRevamped.pptx


